/* Display */
.input[type="text"] {
  width: 350px;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #fff, inset 0 0 5px rgba(255,255,255,0.1);
  padding: 10px;
}